::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #607b96;
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: #011627;
  border-left: 1px solid #1e2d3d;
}

*,
html,
body {
  scroll-behavior: smooth;
}
